<?xml version="1.0"?>
<model>
  <name>ale</name>
  <version>1.0</version>

  <sdf>model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    An ale bottle. 
    
    The texture and the mesh created by elouisetrewartha and published as "Beer Bottle" on 
    (https://sketchfab.com/3d-models/beer-bottle-97eeb4e6a10345c4acc2020e5bab950c)
    licensed under Creative Commons Attribution-NonCommercial 
    (http://creativecommons.org/licenses/by-nc/4.0/).
  </description>
</model>
