<?xml version="1.0"?>

<model>
  <name>unknown_weed</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    An unknown_weed. 
    
    The texture and the mesh created by aaron_nerlich and published as "simple plant" on 
    (https://sketchfab.com/3d-models/simple-plant-8983e5d47f12435bbd1189168b75abeb)
    licensed under Creative Commons Attribution 
    (http://creativecommons.org/licenses/by/4.0/).
  </description>
</model>
