<?xml version="1.0"?>

<model>
  <name>unknown_weed</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    An unknown_weed. The 3D model and textures are downloaded from `https://sketchfab.com/3d-models/simple-plant-8983e5d47f12435bbd1189168b75abeb`.
  </description>
</model>
