<?xml version="1.0"?>

<model>
  <name>nettle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    A nettle. The 3D model and textures are downloaded from `https://sketchfab.com/3d-models/nettle-blackberry-daisies-medicinal-plants-59b4b00b6cc540f7857fc3caab4448dd`.
  </description>
</model>
