<?xml version="1.0"?>
<model>
  <name>Stone 02</name>
  <version>1.0</version>

  <sdf>model.sdf</sdf>

  <author>
    <name>Kamaro Engineering e.V.</name>
    <email>info@kamaro-engineering.de</email>
  </author>

  <description>
    A simple stone with realistic textures.

    The texture and the mesh created by Sascha Henrichs
    and published as "Obj_Nat_Rock_01" on (https://skfb.ly/n5ljih2fe)
    licensed under Creative Commons Attribution 
    (http://creativecommons.org/licenses/by/4.0/).
  </description>
</model>
