<?xml version="1.0"?>
<model>
  <name>ale</name>
  <version>1.0</version>

  <sdf>model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    An ale bottle. The 3D model and textures are downloaded from `https://sketchfab.com/3d-models/beer-bottle-97eeb4e6a10345c4acc2020e5bab950c`. The model is scaled to match the size of a real bottle. 
    licensed under: CC Attribution-NonCommercia
  </description>
</model>
