<?xml version="1.0"?>
<model>
  <name>retro_pepsi_can</name>
  <version>1.0</version>

  <sdf>model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    An ale bottle. The 3D model and textures are downloaded from `https://sketchfab.com/3d-models/retro-pepsi-can-8be6f79dd6704fc4a04cdfad08a2bb9e`. The model is scaled to match the size of a real bottle. 
    licensed under: CC Attribution
  </description>
</model>
