<?xml version="1.0"?>

<model>
  <name>start</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    A block containing an arrow. Texture is drawn by hand in MS paint
  </description>
</model>
