<?xml version="1.0"?>
<model>
  <name>retro_pepsi_can</name>
  <version>1.0</version>

  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thijs Ruigrok</name>
    <email>thijs.ruigrok@wur.nl</email>
  </author>

  <description>
    An retro pepsi can.
    
    The texture and the mesh created by FWTeastwood and published as "Retro Pepsi Can" on 
    (https://sketchfab.com/3d-models/retro-pepsi-can-8be6f79dd6704fc4a04cdfad08a2bb9e)
    licensed under Creative Commons Attribution 
    (http://creativecommons.org/licenses/by/4.0/).
  </description>
</model>
