<?xml version="1.0"?>
<model>
  <name>Stone 01</name>
  <version>1.0</version>
  
  <sdf>model.sdf</sdf>

  <author>
    <name>Kamaro Engineering e.V.</name>
    <email>info@kamaro-engineering.de</email>
  </author>

  <description>
    A simple stone with realistic textures.

    The texture and the mesh created by Andrea Spognetta (spogna@alice.it)
    and published as "Rock Stone 02" on (https://skfb.ly/6V9AV)
    licensed under Creative Commons Attribution-NonCommercial 
    (http://creativecommons.org/licenses/by-nc/4.0/).
  </description>
</model>
